
body {
  overflow-x:hidden;
}

/** ********************* Header **************** **/

.navbar img {
  width: 40px;
  height: auto;
}

.banner {
  display : grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.banner img {
  width: 100%;
  height: auto;
  grid-column-start: 1;
  grid-row-start: 1;
}

h1 {
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: center;
  align-self: center;
  font-size: 7vw;
}

/** ********************* SideMenu **************** **/

.sideMenu {
  position: fixed; 
  top: 300px;
  left: 0;
  background: #5F5F5F;
  border-radius: 0 8px 8px 0;
}

.sideMenu ul {
  list-style: none;
  margin: 0 !important;
    padding: 10px;
}

.sideMenu a {
  color: #222;
}

.sideMenu a:hover {
  text-decoration: none;
  color: #fff;
}

/** ********************* Newsfeed **************** **/

.container-newsfeed {
  margin: 35px 0;
}

.container-newsfeed img {
  width: 100%;
  grid-column-start: 1;
  grid-row: 1 / 3;
}

.feedImg {
  display : grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
}

.feedImg h3 {
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: center;
  align-self: flex-end;
  font-size: 3vw;
  margin: 0;
}

.feedImg p {
  font-size: 1.4vw;
  grid-column-start: 1;
  grid-row-start: 2;
  justify-self: center;
  align-self: flex-start;
}
.newsText {
  padding: 15px;
}

.newsText ul li{
  list-style: none;
}
.newsText ul {
  padding: 0;
}
.infos {
  align-self: center;
}

.review {
  text-align: justify;
  align-self: center;
}

.italic {
  font-style: italic; 
}

.bold {
  font-weight: 700;
}

/** ********************* Modulo About Me **************** **/

/** ********************* Modulo Contact Me **************** **/

.modal-title {
  width: 100%;
  text-align: center;
}

#ContactSubmitContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.centered {
  width: 100px;
  font-size: 14px;
}

.btn-css {
  background-color: #f3f3f3;
  border: #E7E7E7 1px solid;
  color: #797171;
}
.btn-css:hover {
  background-color: #F6F6F6;
  border: #C5C5C5 2px solid;
  color: #272727;
  margin-bottom: -2px;
}


/** ********************* Footer **************** **/
footer {
  padding: 10px 0;
  background-color: #eee;
}

.footerLogo {
  display: none;
}
.footerLogo img {
  width: 40px;
  height: auto;
}

.social {
  text-align: center;
}



.facebook {
    background-color: #3b5998;
    padding: 5px 9px;
    font-size: 22px;
    color: #fff;
    border-radius: 9px;
}

.twitter {
    background-color: #00aced;
    padding: 5px;
    font-size: 22px;
    color: #fff;
    border-radius: 9px;
}

.instagram {
    background-color: #cd486b;
    padding: 6px;
    font-size: 22px;
    color: #fff;
    border-radius: 9px;
}

.facebook:hover, .twitter:hover, .instagram:hover {
  text-decoration: none;
  color: #fff6e4;
  animation: liens 0.5s;
}

.copyrights {
  font-size: 1.5vw;
  padding: 10px 0 0;
  margin-bottom: 0;
}



@keyframes liens {
  50% {
    transform: translateY(-5px);
  }
}

@media (min-width: 576px) {

  .footerLogo {
    display: block;
  }
  .social {
    text-align: right;
  }

  /** *** Modulo Contact Me *** **/
  .centered {
    width: 200px;
    font-size: 18px;
  }

}
