/** ********************* Header **************** **/


.banner {
  display : grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.banner img {
  width: 100%;
  height: auto;
  grid-column-start: 1;
  grid-row-start: 1;
}

h1 {
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: center;
  align-self: center;
  font-size: 7vw;
}

/** ********************* SideMenu **************** **/


/** ********************* Newsfeed **************** **/

.container-newsfeed {
  margin: 35px 0;
}

.container-newsfeed img {
  width: 100%;
}

.feedImg {
  position: relative;
}

.feedImg h3 {
  position: absolute;
  top: 5px;
  left: 20px;
}

.feedImg p {
  position: absolute;
  top:31px;
  left: 24px;
  font-size: 1.7vw;
}

#news1 ul li{
  list-style: none;
}
.review {
  text-align: justify;
}

.italic {
  font-style: italic; 
}

.bold {
  font-weight: 700;
}

/** ********************* Modulo About Me **************** **/

/** ********************* Modulo Contact Me **************** **/

/** ********************* Footer **************** **/
footer {
  padding: 10px 0;
  background-color: #eee;
}

.footerLogo {
  display: none;
}

.social {
  text-align: center;
}

.copyrights {
  font-size: 2vw;
  padding: 10px 0 0;
  margin-bottom: 0;
}

@media (min-width: 576px) {

  .footerLogo {
    display: block;
  }
  .social {
    text-align: right;
  }


}
